{% block content %}
    {% load staticfiles %}
    <html>
    <head>
        <title>Flair Detector</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">

    </head>

    <body>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Flair Detection & Analysis</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Detect Flair<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'analyze' %}">Analysis</a>
                    </li>
                </ul>
            </div>
        </nav>
    <div class="container">

        <div class="row mt-50">
            <div class="col-10 mx-auto">
                <form method="POST" action="/flair/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="text-center font-weight-bold" for="exampleInputEmail1"><h3>Detect Flair of a reddit post by url!</h3></label>
                        <input type="text" name="url_name" value="{{ url|safe }}" class="form-control"
                               id="exampleInputEmail1" aria-describedby="emailHelp"
                               placeholder="Enter url">
                        <small id="emailHelp" class="form-text text-muted">make sure the post belongs to r/india
                            subreddit
                        </small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto">
                <p>{{ result|safe }}</p>
            </div>
        </div>

    </div>


    </body>
{% endblock %}
</html>